@charset "UTF-8";
:root {
  --main-font: "Roboto";
  --second-font: "Raleway";
  --title-color: #212121;
  --main-color: #757575;
  --white-color: #ffffff;
  --footercontact-color: rgba(255, 255, 255, 0.6);
  --blue-color: #2196f3;
  --second-background: #2f303a;
  --wework-text-background: #2f303acc;
  --comand-background: #f5f4fa;
  --hoverbutton-background: #188ce8;
  --border-color: #757575;
  --blue-color-article: #2196f3e5;
  --backdrop-background: #00000033;
  --input-footer-color: #ffffff4d;
  --main-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* сетка */
  --indent: 30px;
  --items: 3;
  --main-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--main-anim), visibility var(--main-anim);
  transition: opacity var(--main-anim), visibility var(--main-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: none;
}

label {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: var(--title-color);
}

.log {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--title-color);
}

.log__web {
  color: var(--blue-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--main-anim);
  transition: color var(--main-anim);
}
.link:hover, .link:focus {
  color: var(--blue-color);
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-transition: background-color var(--main-anim), -webkit-box-shadow var(--main-anim);
  transition: background-color var(--main-anim), -webkit-box-shadow var(--main-anim);
  transition: background-color var(--main-anim), box-shadow var(--main-anim);
  transition: background-color var(--main-anim), box-shadow var(--main-anim), -webkit-box-shadow var(--main-anim);
}
.button:hover, .button:focus {
  background-color: var(--hoverbutton-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--main-anim), background-color var(--main-anim);
  transition: color var(--main-anim), background-color var(--main-anim);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--blue-color);
  fill: var(--white-color);
}

.modal {
  background-color: var(--white-color);
  width: 100%;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: black;
  cursor: pointer;
  -webkit-transition: color var(--main-anim);
  transition: color var(--main-anim);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--blue-color);
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-color);
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal .input-name {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.modal-unit-area,
.comment-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: var(--title-color);
  -webkit-transition: border-color var(--main-anim);
  transition: border-color var(--main-anim);
  fill: var(--main-anim);
}

.modal-unit-area:hover,
.modal-unit-area:focus,
.modal-unit-area:focus-within {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.modal-input-area {
  border: none;
}

.comment-area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: #212121;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.comment-area:focus-within,
.comment-area:hover,
.comment-area:focus {
  border-color: var(--blue-color);
}

@media screen and (min-width: 768px) {
  .menu__icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__menu-button {
  margin-left: auto;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  -webkit-transition: fill var(--main-anim);
  transition: fill var(--main-anim);
}
.header__menu-button:hover, .header__menu-button:focus {
  fill: var(--blue-color);
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__menu-button.is-open .menu__icon-burger {
  opacity: 0;
}

.menu__icon-close {
  opacity: 0;
}
.header__menu-button.is-open .menu__icon-close {
  opacity: 1;
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--comand-background);
  z-index: 10;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform var(--main-anim);
  transition: -webkit-transform var(--main-anim);
  transition: transform var(--main-anim);
  transition: transform var(--main-anim), -webkit-transform var(--main-anim);
}
.header__menu.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__nav {
  margin-bottom: auto;
}

.menu__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__item--current {
  color: var(--blue-color);
}

.menu__contacts {
  margin-bottom: 64px;
}

.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contact-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.menu__contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 2%;
  color: var(--blue-color);
}

.menu__social-link {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu__social-item:not(:last-child) .menu__social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  border: 1px solid #ececec;
  padding: 15px 0px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 21px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 28px 0px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__log {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .header__log {
    margin-right: 93px;
    font-size: 26px;
  }
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link--current {
  color: var(--blue-color);
  position: relative;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--blue-color);
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    -webkit-transform: translateY(calc(50% + 42px));
            transform: translateY(calc(50% + 42px));
  }
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    -webkit-transform: translateY(calc(50% + 28px));
            transform: translateY(calc(50% + 28px));
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
}
@media screen and (max-width: 767px) {
  .header__contact {
    font-size: 14px;
    line-height: 1.17;
  }
}

.header__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  background-color: var(--second-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 700px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/background-hero_lg@2x.jpg);
  }
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.specialties__text {
  line-height: 1.71;
}

.specialties__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.specialties__icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 100px;
  background-color: var(--comand-background);
  margin-bottom: 30px;
}

.specialties__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .specialties__subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .specialties__subtitle {
    text-align: left;
  }
}

.specialties__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .specialties__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .specialties__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

.wework {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .wework {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.wework__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wework__item:not(:last-child) {
  margin-right: 30px;
}

.wework__item {
  position: relative;
}

.wework__text {
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--wework-text-background);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.team {
  text-align: center;
  background-color: var(--comand-background);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team__unit-info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__unit {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
@media screen and (min-width: 768px) {
  .team__unit {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__unit {
    width: 270px;
  }
}

.team__social-link {
  fill: var(--main-icon-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--main-icon-color);
  -webkit-transition: color var(--main-anim), border-color var(--main-anim);
  transition: color var(--main-anim), border-color var(--main-anim);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--second-background);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__adress-list {
  text-align: center;
  width: 232px;
}
@media screen and (min-width: 768px) {
  .footer__adress-list {
    text-align: center;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress-list {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__log {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer .footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__contact {
  color: var(--footercontact-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__join {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__join {
    text-align: left;
    margin-right: auto;
  }
}

.footer__subtitle {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer_social-link {
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color var(--main-anim);
  transition: background-color var(--main-anim);
  fill: var(--white-color);
}

.footer_social-link:hover,
.footer_social-link:focus {
  background-color: var(--blue-color);
}

.footer__mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__mailing {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mailing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 570px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}

.footer__input {
  width: calc(100vw - 30px);
  padding: 15px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--input-footer-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.footer__submit-text {
  margin-right: 10px;
}

.footer__submit-icon {
  fill: var(--white-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list-filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .portfolio__list-filtr {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.portfolio__filtr-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font), sans-serif;
  color: var(--title-color);
  background-color: var(--comand-background);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  padding: 6px 22px;
  -webkit-transition: color var(--main-anim), background-color var(--main-anim), -webkit-box-shadow var(--main-anim);
  transition: color var(--main-anim), background-color var(--main-anim), -webkit-box-shadow var(--main-anim);
  transition: color var(--main-anim), background-color var(--main-anim), box-shadow var(--main-anim);
  transition: color var(--main-anim), background-color var(--main-anim), box-shadow var(--main-anim), -webkit-box-shadow var(--main-anim);
}

.portfolio__filtr-botton:hover,
.portfolio__filtr-botton:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.list-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.article {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .article {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .article {
    width: 370px;
  }
}

.article-link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: -webkit-box-shadow var(--main-anim);
  transition: -webkit-box-shadow var(--main-anim);
  transition: box-shadow var(--main-anim);
  transition: box-shadow var(--main-anim), -webkit-box-shadow var(--main-anim);
}

.blok-img {
  position: relative;
  overflow: hidden;
}

.hidden-portfolio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background-color: var(--blue-color-article);
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: top var(--main-anim);
  transition: top var(--main-anim);
}

.article-link:hover,
.article-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.article-link:hover .hidden-portfolio-text,
.article-link:focus .hidden-portfolio-text {
  top: 0;
}

.article-text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__article-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  /* identical to box height, or 200% */
  margin-bottom: 4px;
  text-align: left;
}

.article .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
}/*# sourceMappingURL=main.css.map */