/* Portfolio */







.checkbox {
  position: absolute;
  appearance: none;
}
.agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.check-icon {
  position: absolute;
  left: 0;
  visibility: hidden;
  border-radius: 2px;
}
.check-out-icon {
  transition: fill var(--main-anim);
}
.checkbox:focus ~ .check-out-icon,
.checkbox:hover ~ .check-out-icon {
  fill: var(--blue-color);
}
.checkbox:checked ~ .check-icon {
  visibility: visible;
  fill: var(--white-color);
  background-color: var(--blue-color);
}
.agreement-text {
  margin-left: 8px;
}
.agreement-text a {
  color: var(--blue-color);
}
.modal .button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
