h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
input,
textarea {
  outline: none;
}
label {
  cursor: pointer;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: var(--title-color);
}
