:root {
  --main-font: 'Roboto';
  --second-font: 'Raleway';
  --title-color: #212121;
  --main-color: #757575;
  --white-color: #ffffff;
  --footercontact-color: rgba(255, 255, 255, 0.6);
  --blue-color: #2196f3;
  --second-background: #2f303a;
  --wework-text-background: #2f303acc;
  --comand-background: #f5f4fa;
  --hoverbutton-background: #188ce8;
  --border-color: #757575;
  --blue-color-article: #2196f3e5;
  --backdrop-background: #00000033;
  --input-footer-color: #ffffff4d;
  --main-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* сетка */
  --indent: 30px;
  --items: 3;
  --main-icon-color: #afb1b8;
}
