.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;
}



.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--main-icon-color);
  transition: color var(--main-anim), border-color var(--main-anim);


  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.clients__icon{
  fill: currentColor;
}
